<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Your Pet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <header>
        <button onclick="window.location.href='/'">Home Page</button>
    </header>

    <h1>Register Pet</h1>

    <div>
        <form id="patient-form">
            <input type="text" id="name" placeholder="Name" /><br>
            <input type="text" id="species" placeholder="Species" /><br>
            <input type="text" id="breed" placeholder="Breed" /><br>
            <input type="text" id="sex" placeholder="Sex" /><br>
            <input type="date" id="dob" /><br>
            <input type="checkbox" id="neutered"> Neutered<br>
            <input type="text" id="insurance_id" placeholder="Insurance ID" /><br>
            <input type="number" id="weight" placeholder="Weight" /><br>
            <button type="button" onclick="createPatient()">Add Patient</button>
        </form>

    </div>

    <h2>Or</h2>
    </button>
    <a href="/scan">Scan</a>
    </button>
    <pre id="result"></pre>
    <script src="/static/js/patients.js"></script>

</body>
</html>